/* --------------------------------------------------------------
# General
-------------------------------------------------------------- */
body {
  font-family: "Roboto", "sans-serif";
  background-color: #0f0f0f;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 20px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

/* --------------------------------------------------------------
# Navbar
-------------------------------------------------------------- */
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  margin: 0 0 0 15%;
  padding: 1px 16px;
  width: 100%;
  background: #0f0f0f;
}

/*  Navbar Main */
.navbar-main ul {
  list-style-type: none;
  overflow: hidden;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.navbar-main li a {
  display: inline-block;
  color: #f1f1f1;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
}

.navbar-main .logo {
  width: 150px;
  vertical-align: middle;
}

.navbar-main .logo img {
  width: 150px;
  height: 30px;
  object-fit: cover;
}

.navbar-main svg {
  vertical-align: middle;
}

.navbar-main .search {
  text-align: left;
  border: 1px solid #f1f1f1;
  width: 500px;
  border-radius: 18px;
  padding: 8px 12px;
}

/* --------------------------------------------------------------
# Sidebar
-------------------------------------------------------------- */
.sidebar ul {
  list-style-type: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 13px;
}

.sidebar .logo {
  width: 15%;
  position: fixed;
  background: #0f0f0f;
}

.sidebar .logo img {
  width: 150px;
  height: 67px;
  object-fit: cover;
}

.sidebar svg {
  vertical-align: middle;
  margin: 0 15px 0 0;
}

.sidebar li a {
  display: flex;
  align-items: center;
  color: #f1f1f1;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 15px;
}

.sidebar hr {
  margin: 8px 15px;
  border: 1px solid #414141;
}

.sidebar li a.active {
  background-color: #414141;
  color: #f1f1f1;
  margin: 0 15px;
  border-radius: 15px;
}

.sidebar li a:hover:not(.active, .logo) {
  background-color: #414141;
  color: #f1f1f1;
  border-radius: 15px;
}

.sidebar p {
  margin: 8px 15px;
  color: #f1f1f1;
  font-size: 14px;
}

.sidebar img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

/* --------------------------------------------------------------
# Section General
-------------------------------------------------------------- */
section {
  padding: 50px 0 0 0;
  margin: 0 0 0 15%;
  overflow: hidden;
}

.section-title {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  margin: 0 0 15px 0;
  overflow: hidden;
  width: 100%;
}

.section-title h3 {
  color: #f1f1f1;
  margin: 0;
  font-size: 30px;
}

.section-title span {
  position: relative;
  padding: 0 10px 0 0;
  display: inline-block;
}

/* --------------------------------------------------------------
# Video Section
-------------------------------------------------------------- */
.video .video-card {
  width: 335px;
  height: auto;
  border-radius: 18px;
  padding: 12px;
  margin: 8px 0;
}

.video .video-card img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.video .video-card a {
  color: #f1f1f1;
  text-decoration: none;
}

.video .video-card h3 {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 500;
}

.video .video-card p {
  color: #a1a1a1;
  margin: 0;
  font-size: 13px;
}

.video .video-card p:hover {
  color: #f1f1f1;
}
