/* --------------------------------------------------------------
# General
-------------------------------------------------------------- */
body {
  font-family: "Poppins", "sans-serif";
  background-color: #f4f6f9;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.slide {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 20px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
  background: #fff;
}

th {
  font-size: 16px;
  font-weight: 600;
  background: #eee;
}

td {
  color: #555;
}

/* --------------------------------------------------------------
# Navbar
-------------------------------------------------------------- */
.navbar {
  padding: 0 20px;
}

/* Navbar Head */
.navbar-head {
  margin: 0 20px;
  padding: 10px;
}

.navbar-head img {
  max-width: 400px;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Navbar Main */
.navbar-main ul {
  list-style-type: none;
  margin: 10px 0 10px 0;
  overflow: hidden;
  background: linear-gradient(100deg, #21409a 50%, #007cbd 100%);
  padding: 10px 12px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.461);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.navbar-main li a,
.navbar-main .dropbtn {
  display: inline-block;
  color: #cfcfcf;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
}

.navbar-main .li a,
.navbar-main svg {
  vertical-align: middle;
  margin: 0 3px;
}

.navbar-main a:hover,
.navbar-main .dropdown:hover {
  color: #ffd620;
}

.navbar-main li .dropdown {
  display: inline-block;
}

.navbar-main .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: smaller;
  font-weight: 600;
}

.navbar-main .dropdown-content a {
  color: #000;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-main .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar-main .dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar Story */
.navbar-story .top-stories {
  padding: 8px 10px;
  background-color: fff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-story a {
  margin: 3px 12px;
}

.navbar-story a {
  color: #4d4d4d;
  text-decoration: none;
}

.navbar-story a:hover {
  color: #00236e;
}

.navbar-story .slide-story {
  border-right: 1px solid #cfcfcf;
  /* padding: 10px; */
  text-align: center;
  width: 400px;
}

.navbar-story .slide-story p {
  color: #d6d6d6;
  font-size: 12px;
  /* margin: 0 0 10px 0; */
  text-transform: capitalize;
}

.navbar-story .slide-story h3 {
  margin: 0;
  font-weight: 600;
  line-height: 23px;
}

.navbar-story .slide-story img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

/* --------------------------------------------------------------
# Section General
-------------------------------------------------------------- */
section {
  margin: 0 20px;
  padding: 10px 10px;
  overflow: hidden;
}

.section-title {
  font-size: 17px;
  font-weight: 700;
  padding: 0 15px;
  position: relative;
  margin: 0 0 15px 0;
  overflow: hidden;
  width: 100%;
}

.section-title h3 {
  color: #21409a;
  margin: 0;
  font-size: 18px;
}

.section-title span {
  position: relative;
  padding: 0 10px 0 0;
  display: inline-block;
}

/* --------------------------------------------------------------
# Featured Section
-------------------------------------------------------------- */
.featured .featured-card {
  width: 350px;
  height: 95%;
  border-radius: 18px;
  background: #fff;
  padding: 12px;
  margin: 8px 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.158);
}

.featured .featured-card img {
  width: 100%;
  height: 180px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
  transition: transform 0.5s;
}

.featured .featured-card img:hover {
  transform: scale(1.1);
}

.featured .featured-card a {
  color: #4d4d4d;
  text-decoration: none;
}

.featured .featured-card a:hover {
  color: #00236e;
}

.featured .featured-card h3 {
  margin: 15px 0 8px 0;
  font-weight: 600;
  line-height: 23px;
}

.featured .featured-card p {
  color: #a1a1a1;
  text-transform: capitalize;
  margin: 0 0 12px 0;
  font-size: 13px;
}

/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */
.footer {
  background-color: #21409a;
  color: #cfcfcf;
  text-align: center;
  padding: 20px;
  margin: 0 40px;
  font-size: 12px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.461);
}
