/* --------------------------------------------------------------
# General
-------------------------------------------------------------- */
body {
  font-family: "Poppins", "sans-serif";
  background-color: #f4f6f9;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.slide {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 20px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
  background: #fff;
}

th {
  font-size: 16px;
  font-weight: 600;
  background: #eee;
}

td {
  color: #555;
}

/* --------------------------------------------------------------
# Navbar
-------------------------------------------------------------- */
.navbar {
  padding: 0 20px;
}

/* Navbar Head */
.navbar-head {
  margin: 0 20px;
  padding: 10px;
}

.navbar-head img {
  max-width: 400px;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Navbar Main */
.navbar-main ul {
  list-style-type: none;
  margin: 10px 0 10px 0;
  overflow: hidden;
  background: linear-gradient(100deg, #21409a 50%, #007cbd 100%);
  padding: 10px 12px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.461);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.navbar-main li a,
.navbar-main .dropbtn {
  display: inline-block;
  color: #cfcfcf;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
}

.navbar-main .li a,
.navbar-main svg {
  vertical-align: middle;
  margin: 0 3px;
}

.navbar-main a:hover,
.navbar-main .dropdown:hover {
  color: #ffd620;
}

.navbar-main li .dropdown {
  display: inline-block;
}

.navbar-main .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: smaller;
  font-weight: 600;
}

.navbar-main .dropdown-content a {
  color: #000;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-main .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar-main .dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar Story */
.navbar-story .top-stories {
  padding: 8px 10px;
  background-color: fff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.navbar-story .top-stories a {
  color: #4d4d4d;
  text-decoration: none;
}

.navbar-story .slide-story {
  border-right: 1px solid #cfcfcf;
  padding: 10px;
}

.navbar-story .slide-story p {
  color: #d6d6d6;
  font-size: 12px;
  margin: 0 0 10px 0;
  text-transform: capitalize;
}

.navbar-story .slide-story a {
  color: #4d4d4d;
  text-decoration: none;
}

.navbar-story .slide-story a:hover {
  color: #00236e;
}

.navbar-story .slide-story h3 {
  margin: 0;
  font-weight: 600;
  line-height: 23px;
}

/* Navbar Breadcrumbs */
.navbar-breadcrumbs ul {
  margin: 10px 0 10px 0;
  overflow: hidden;
  padding: 10px 12px;
  color: #000;
}

.navbar-breadcrumbs ul li {
  list-style-type: none;
  display: inline-block;
}

.navbar-breadcrumbs ul li a.active {
  color: #8d8d8d;
}

.navbar-breadcrumbs ul li::after {
  content: "/";
  margin: 0 4px 0 6px;
}

.navbar-breadcrumbs ul li a {
  text-decoration: none;
}

.navbar-breadcrumbs ul li a:hover {
  color: #00236e;
}

/* --------------------------------------------------------------
# Section General
-------------------------------------------------------------- */
section {
  margin: 0 20px;
  padding: 10px 10px;
  overflow: hidden;
}

.section-title {
  font-size: 17px;
  font-weight: 700;
  padding: 0 15px;
  position: relative;
  margin: 0 0 15px 0;
  overflow: hidden;
  width: 100%;
}

.section-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: #c30a5a;
  top: 50%;
  left: 0;
}

.section-title h3 {
  color: #ff0a74;
  margin: 0;
  font-size: 18px;
}

.section-title span {
  position: relative;
  padding: 0 10px 0 0;
  display: inline-block;
}

/* --------------------------------------------------------------
# Featured Section
-------------------------------------------------------------- */
.featured .featured-card {
  width: 100%;
  height: 400px;
  border-radius: 18px;
  background: #fff;
  padding: 12px;
  margin: 8px 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.158);
}

.featured .featured-card img {
  width: 100%;
  height: 162px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
  transition: transform 0.5s;
}

.featured .featured-card img:hover {
  transform: scale(1.1);
}

.featured .featured-card span {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0a74;
  padding: 3px 5px;
  border-radius: 5px;
}

.featured .featured-card a {
  color: #4d4d4d;
  text-decoration: none;
}

.featured .featured-card a:hover {
  color: #00236e;
}

.featured .featured-card h3 {
  margin: 15px 0 8px 0;
  font-weight: 600;
  line-height: 23px;
}

.featured .featured-card p {
  color: #a1a1a1;
  text-transform: capitalize;
  margin: 0 0 12px 0;
  font-size: 13px;
}

/* Berita */
.featured-berita {
  grid-column: 1 / span 2;
}

.featured .featured-card .slide-berita img {
  height: 250px;
}

/* Pengumuman */
.featured-pengumuman {
  grid-column-start: 3;
}

.featured .featured-card .slide-pengumuman img {
  width: 100%;
  height: 250px;
}

/* Agenda */
.featured-agenda {
  grid-column-start: 4;
}

.featured-agenda .featured-card {
  height: 196px;
}

.featured .featured-card .slide-agenda img {
  height: 75px;
}

/* Stories */
.featured-stories .featured-card {
  width: 400px;
  height: 95%;
}

/* --------------------------------------------------------------
# Main Site Content
-------------------------------------------------------------- */
.featured .container {
  margin: 30px 200px;
}

.featured .site-content-title {
  color: #ff0a74;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 0 15px;
  position: relative;
  margin: 0 0 15px 0;
  overflow: hidden;
  width: 100%;
}

.featured .site-content-title:after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 3px;
  background: #c30a5a;
  margin: 0 auto;
}

.featured .site-content-title h3 {
  margin: 0;
}

.featured .site-content {
  text-align: center;
}

.featured .site-content img {
  border-radius: 18px;
  background-position: center center;
  vertical-align: middle;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.158);
}

.featured .site-content p {
  color: #555;
  text-align: justify;
  padding: 0 5px;
}

.featured .more-button {
  width: auto;
  text-align: center;
  padding: 15px 20px;
  border-radius: 18px;
  color: #fff;
  background: #ff0a74;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

.featured .more-button:hover {
  color: #ff0a74;
  background: #fff;
  border: 1px solid #ff0a74;
}

/* --------------------------------------------------------------
# Site Content
-------------------------------------------------------------- */
.content {
  padding: 10px;
  margin: 0 20px;
}

.content .container {
  margin: 0 280px;
}

.content .content-banner img {
  width: 100%;
  height: 500px;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.158);
}

.content .content-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0a74;
  padding: 3px 5px;
  border-radius: 5px;
}

.content .content-title a {
  color: #4d4d4d;
  text-decoration: none;
}

.content .content-title p {
  color: #a1a1a1;
  text-transform: capitalize;
  margin: 0;
  font-size: 13px;
}

.content .content-title {
  color: #333;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
}

.content .content-title h3 {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

.content .content-description ol,
li,
p {
  color: #555;
  text-align: justify;
}

.content .content-description img {
  border-radius: 18px;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.158);
}

/* Sub Content */
.sub-content {
  margin: 8px 0;
}

.sub-content h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

/* Profile */
.profile {
  margin: 8px 0;
  width: 300px;
}

.profile .profile-image {
  width: 150px;
  height: 150px;
  background: #b9b9b9;
  border-radius: 50%;
}

.profile .profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .profile-description {
  margin: 20px 0;
}

.profile .profile-description h1 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

.profile .profile-description p {
  margin: 0;
  font-size: 16px;
}

/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */
.footer {
  background-color: #ff0a74;
  color: #cfcfcf;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  font-size: 12px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.461);
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: #00236e;
}
